.contenedor {
    width: 80%;
    margin: auto;
    margin-top: 4%;
    padding: 4%;
    border-radius: 2%;
}

.jumbotron {
    margin-top: 4%;
    padding: 5%;
    background-color: #007bff;
    color: #ffffff;
}

